body{
/*background-image: url("https://wallpapersafari.com/image/iphone-12-pro-4k-christmas-wallpapers.jpg");*/
background-color:#99e6ff;
background-repeat:no-repeat;
background-position:center center;
Background-size:cover;
padding-left:10px;
padding-right:10px;
padding-top:10px;

}