<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/home.css">
    <link rel="stylesheet" href="/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <title>Home</title>
</head>
<body>
<div class="container">
    <div class="titular">
        <img style="opasity:-200%;" src="https://wallpapercave.com/wp/wp1945897.jpg" alt="Entertainment" class="bg"/>
        <button class="btntop" style="text-decoration: none;"><a href="/login">Login</a></button>
        <p class="tagline">BookMyMovie</p>
        <p class="subtitle">Join us to be a part of new revolution</p>
        <button class="btn"><a href="/viewMoviesInHome">Movies</a></button>
    </div>
    <div class="context">
        <br/><br/>
        <h1>Discover new things!</h1>
        <center><p class="line"></p></center>
        <p>Join us to be the part of new technology.<br/>Lets explore the new world together and feel lost
           in the imaginary world.</p>
    </div>

    <div class="area">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>

    <div class="gallery">
        <h1>Explore all possibilities...</h1>
        <div class="grid">
            <img src="https://m.media-amazon.com/images/M/MV5BNzllYTM0ZDgtZTk4NS00YjYzLTliNjktMjZmNTZmNGZlNzI4XkEyXkFqcGdeQXVyMjkxNzQ1NDI@._V1_.jpg"/>
            <img src="https://wallpapercave.com/wp/wp8300069.jpg"/>
            <img src="https://w0.peakpx.com/wallpaper/144/660/HD-wallpaper-official-spider-man-no-way-home-poster-thumbnail.jpg"/>
            <img src="https://m.media-amazon.com/images/M/MV5BOGVlYWFhZWUtZTY0OC00MjFkLWEyMDctYzQ5MTJiMTkwZmY4XkEyXkFqcGdeQXVyMzQ5Njc3NzU@._V1_FMjpg_UX1000_.jpg"/>
        </div>
        <div class="footer">
            <div class="inner-footer">

                <!--  for company name and description -->
                <div class="footer-items">
                    <h1 style="color:#155c8a;">BookMyMovie</h1>
                    <p>A new revolution of the entertainment industry.</p>
                </div>

                <!--  for quick links  -->
                <div class="footer-items">
                    <h3>Quick Links</h3>
                    <div class="border1"></div> <!--for the underline -->
                    <ul class="navigationBar">
                        <li><a href="/home">Home</a></li>
                        <li><a href="#contact">Contact</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="/login">Login</a></li>
                    </ul>
                </div>


                <!--  for contact us info -->
                <div class="footer-items">
                    <h3>Contact us</h3>
                    <div class="border1"></div> <!--for the underline -->
                    <ul>
                        <li class="fontStyle" ><i class="fa fa-map-marker" aria-hidden="true">&nbsp;&nbsp;XYZ,abc</i></li>&nbsp;&nbsp;
                        <li class="fontStyle"><i class="fa fa-phone" aria-hidden="true">&nbsp;&nbsp;+91&nbsp;918003400</i></li>&nbsp;&nbsp;
                        <li class="fontStyle"><i class="fa fa-envelope" aria-hidden="true">&nbsp;&nbsp;support@bookmymovie.org</i></li>
                    </ul>
                </div>
            </div>
            <!--   for social links -->
            <div class="social-media" align="center">
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-google-plus-square"></i></a>
            </div>
            <!--   Footer Bottom start  -->
            <div class="footer-bottom">
                BookMyMovie © 2022 All rights reserved.
            </div>
        </div>
    </div>
</div>
</body>
</html>