<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="login.css">
    <link rel="stylesheet" href="style.css">

</head>
<body>
<ul>
    <li><a href="/home">Home</a></li>
    <li><a href="/viewMoviesInHome">Movies</a></li>
    <li><a href="/register" >Register</a></li>
    <li><a href="/login">Login</a></li>
</ul>
<div class="area">
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <div class="area">
           <div class="login">
               <br>
               <h6 style="font-size:20px;color:white;" align="center"><small><span th:text="${successMessage}"></span></small></h6>
               <h6 style="font-size:20px;color:white;" align="center"><small><span th:text="${errorMessage}"></span></small></h6>

               <div class="form">
                    <form class="login-form" action="/login" method="post">
                        <span>Login</span><br><br>
                        <input type="text" name="userName" placeholder="Username" required/>
                        <input type="password" name="password" placeholder="password" required/>
                        <button type="submit">Login</button>
                    </form>
                </div>
            </div>
        </div>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
</body>
</html>